<p>Cześć,</p>
<p>aby w pełni aktywować swoje konto na moodtracker.pl kliknij w poniższy link: </p>
<p>
  <a href="http://localhost:8000/aktywacja/{{userId}}/{{token}}">http://moodtracker.pl/aktywacja/{{userId}}/{{token}}</a>
</p>
<p>Pozdrawiamy,<br>Zespół <b>moodtracker.pl</b></p>