<p>Cześć,</p>
<p>przesłaliśmy do Ciebie tego maila ponieważ zarejestrowaliśmy prośbę o zmianę hasała na sharic.pl powiązanego z tym adresem e-mail. Jeżeli to nie ty, zignoruj tą wiadomość. W przeciwnym razie, jeżeli chcesz ustawić nowe hasło do sharica, kliknij w poniższy link:</p>
<p>
  <a href="http://localhost:8000/nowe-haslo/{{userId}}/{{token}}">http://moodtracker.pl/nowe-haslo/{{userId}}/{{token}}</a>
</p>
<p>Pozdrawiamy,<br>Zespół <b>moodtracker.pl</b></p>