<p>Cześć,</p>
<p>Twoje hasło w serwisie sharic.pl zostało zmienione. Kliknij w poniższy link, aby się zalogować:</p>
<p>
  <a href="http://localhost:8080/login">http://moodtracker.pl/login</a>
</p>
<p>Pozdrawiamy,<br>Zespół <b>moodtracker.pl</b></p>